<h1>Tu as choisi la catégorie : {{choixCat}} ! </h1>
<!---- <div *ngFor="let filtre of ordreFiltre" class="mainFrame"> 
    <h2>{{filtre}}</h2>
<img [src]="images[index].nom">
<img src="/images/deplacements/bus.jpg">
<img class="logo" [src]="(imgPath + imgFileName)" />

<div class="reponse">
    <button class="btn btn-primary" (click)="onOui()">Oui</button>
    <button class="btn btn-primary" (click)="onNon()">Non</button>
    <button class="btn btn-primary" (click)="onJsp()">Je ne sais pas</button>
</div> 
</div>
-->
<div *ngIf="isOnAime">
    <h2>Est-ce que j'aime..</h2>
    <img [src]="images[indexImage].nom">
   
</div>
<div *ngIf="isOnAide">
    <!-- <app-filtre-aide ></app-filtre-aide> -->
    <h2>Est-ce que j'ai besoin d'aide..</h2>
    <img [src]="images[indexImage].nom">
    
</div>
<div *ngIf="isOnContent">
    <h2>Est-ce que je suis content..</h2>
    <img [src]="images[indexImage].nom">
    
</div>
<div class="reponse">
    <button class="btn btn-primary" (click)="onOui()">Oui</button>
    <button class="btn btn-primary" (click)="onNon()">Non</button>
    <button class="btn btn-primary" (click)="onJsp()">Je ne sais pas</button>
</div> 
