<div id="channel">
    <!-- <p id="chat" *ngFor="let msg of messages; index as i">
            <li>{{msg}}</li>
    </p> -->

    <!-- <input #box type="text" (keyup)="onChange(box.value)">
    <button (click)="sendMsg()">Send msg</button> -->


    <div class="container-sm">
        <div class="row justify-content-md-center">
            <div class="col-sm-auto" style="border: 1px solid black;">
                PREMIERE COLONNE
            </div>
            <div class="col-sm" style="border: 1px solid green;">
                MIDDLE COLONNE
            </div>
            <div class="col-sm-auto" style="border: 1px solid blue;">
                TROISIEME C0LONNE
            </div>
        </div>
    </div>
</div>